<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Raef_ContactManager::contactmanager" title="Raef Contact Manager" sortOrder="10">
                    <resource id="Raef_ContactManager::customercontact" title="Customer Contacts" sortOrder="10">
                        <resource id="Raef_ContactManager::customercontact_save" title="Save" sortOrder="10"/>

                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
